<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom top-nav-regular">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      {% for key, value in site.navbar_links %}
        {% if value is iterable and value is not string %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ key }}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              {% for item in value %}
                {% for linkkey, linkvalue in item %}
                  <a class="dropdown-item" href="{{ linkvalue }}">{{ linkkey }}</a>
                {% endfor %}
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ value }}">{{ key }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% if site.avatar %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="/">
          <img alt="Navigation bar avatar" class="avatar-img" src="{{ site.avatar }}" />
        </a>
      </div>
    </div>
  {% endif %}

</nav>
