<ul class="list-inline text-center footer-links">

{% if site.social_network_links.rss and site.description %}
  <li class="list-inline-item">
    <a href="/feed.xml" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
{% endif %}

{% if site.social_network_links.github %}
  <li class="list-inline-item">
    <a href="https://github.com/{{ site.social_network_links.github }}" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
    </a>
  </li>
{% endif %}

{% if site.social_network_links.twitter %}
  <li class="list-inline-item">
    <a href="https://twitter.com/{{ site.social_network_links.twitter }}" title="Twitter">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Twitter</span>
    </a>
  </li>
{% endif %}

{% if site.social_network_links.mastodon %}
  <li class="list-inline-item">
    <a href="https://{{ site.social_network_links.mastodon }}" title="Mastodon">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Mastodon</span>
    </a>
  </li>
{% endif %}

</ul>
