---
layout: page
pagination:
  data: collections.posts
  size: 5
  alias: posts
---

{{ content | safe }}

<!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
<ul class="posts-list list-unstyled" role="list">
  {% for post in posts %}
  <li class="post-preview">
    <article>

      <a href="{{ post.url }}">
        <h2 class="post-title">{{ post.data.title | strip_html }}</h2>

        {% if post.data.subtitle %}
          <h3 class="post-subtitle">
          {{ post.data.subtitle | strip_html }}
          </h3>
        {% endif %}
      </a>

      <p class="post-meta">
        Posted on {{ post.date | dateFormat }}
      </p>

      {% if site.feed_show_excerpt != false %}
      <div class="post-entry">
        {{ post.templateContent | excerpt(site.excerpt_length) }}
        {% set excerpt_word_count = post.templateContent | number_of_words %}
        {% if excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
      {% endif %}

      {% if site.feed_show_tags != false and post.data.tags.length > 0 %}
      <div class="blog-tags">
        <span>Tags:</span>
        <!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
        <ul class="d-inline list-inline" role="list">
          {% for tag in post.data.tags %}
          <li class="list-inline-item">
            <a href="/tags#{{ tag }}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    </article>
  </li>
  {% endfor %}
</ul>

{% if pagination.pages.length > 1 %}
<ul class="pagination main-pager">
  {% if pagination.previousPageHref %}
  <li class="page-item previous">
    <a class="page-link" href="{{ pagination.previousPageHref }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if pagination.nextPageHref %}
  <li class="page-item next">
    <a class="page-link" href="{{ pagination.nextPageHref }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
