---
layout: base
layoutType: post
---

{% include "header.html" %}

<div class="{% if full_width %}container-fluid{% else %}container-md{% endif %}">
  <div class="row">
    <div class="{% if full_width %}col{% else %}col-xl-8 offset-xl-2 col-lg-10 offset-lg-1{% endif %}">

      <article role="main" class="blog-post">
        {{ content | safe }}
      </article>

      {% if tags.length > 0 %}
        <div class="blog-tags">
          <span>Tags:</span>
          {% for tag in tags %}
            <a href="/tags#{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}

      <ul class="pagination blog-pager">
        {% if page.previous %}
        <li class="page-item previous">
          <a class="page-link" href="{{ page.previous.url }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.data.title | strip_html | xml_escape }}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next %}
        <li class="page-item next">
          <a class="page-link" href="{{ page.next.url }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.data.title | strip_html | xml_escape }}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>
      
    </div>
  </div>
</div>
